
@{
    ViewBag.Title = "Index";
}

<h2>Quem Somos.</h2>


<div>
    Diante da utilização dos conceitos apresentados a empresa PIM-III foi fundada com o intuito de auxiliar seus clientes para que possam gerenciar e obterem acesso parcial
    ou consolidado de seus investimentos e criptoativos, onde essas informações serão passada através de relatórios e gráficos, e a empresa transmissora
    também possui acessos dos dados de seus clientes de forma ágil e eficaz.
    O motivo principal de focarmos em nossos recursos de desenvolvimento para essa área é o amplo mercado de transações financeiras, que sempre apresenta novidades e seus 
    maiores focos são agilidade, facilidades e o foco nos custos das
    transações, onde enxergamos uma possibilidade de
    fazer parte do crescimento do mercado de blockchain, pois os mesmo possuem características que atender a estes aspectos citados acima
    e por ser uma nova modalidade de transição, podemos observar que o mesmo se encontra em grande expansão, trazendo um futuro promissor para o mercado financeiro.
    Outro ponto que nos motiva a expandir e aplicar nossos recursos em Blockchain é que uma de suas prioridades é fornecer um alto nível de segurança para o armazenamento
    de dados, sejam eles dados bancários de clientes, informações contratuais de empresas e históricos financeiros, pois  devido a expansão de bancos virtuais,
    o Blockchain nos garante o sigilo de dados de nossos clientes e  segurança de tais informações, o tornando uma fonte de confiança para nossa empresa.
</div>

